@import '../abstracts/_mixins'

.footer
  border-block-start: 1px solid #f3f4f4
  width: 100%
  padding: 4.8rem 3.2rem 3.2rem 3.2rem
  margin: 6.4rem auto 0 auto
  font-size: 1.6rem
  display: flex
  flex-direction: column
  gap: 3.2rem
  align-items: center

  @include responsiveness(480p)
    width: 88%
    padding: 6.4rem 2.4rem 4rem 2.4rem
  
  @include responsiveness(720p)
    align-items: flex-start
    gap: 2.4rem
    width: 80%
  
  @include responsiveness(1200p)
    width: 100%
    max-width: 96rem
  

  &__info
    display: flex
    flex-direction: column
    gap: 2rem
    align-items: center

    @include responsiveness(720p)
      flex-direction: row
      justify-content: space-between
      width: 100%
  
  & a
    font-family: var(--typeface-headings)
    font-weight: 500
    font-size: 1.8rem
  
  &__nav
    display: flex
    gap: 2.4rem

    &__link
      padding: 0.8rem