@import '../abstracts/_mixins'

.footer
  background: var(--color-foreground)
  color: var(--color-background)
  border-block-start: 1px solid lavender
  width: 100%
  font-size: 1.6rem
  text-align: center
  display: flex
  justify-content: center
  align-items: center

  &-inner
    padding: 4.8rem 3.2rem
    @include flex-centered
    flex-direction: column
    gap: 1.6rem

    @include responsiveness(480p)
      width: 88%
      padding: 6.4rem 2.4rem 4rem 2.4rem
    
    @include responsiveness(720p)
      align-items: flex-start
      gap: 2.4rem
      width: 80%
    
    @include responsiveness(1200p)
      width: 100%
      max-width: 96rem
  
  &__credits
    @include flex-centered

    &__icon-wrapper
      @include flex-centered
      margin: 0 0.3rem
    
    &__icon
      width: 2rem
      height: 2rem
      fill: #EB3542

  & a
    font-family: var(--typeface-mono)
    font-weight: 500
    font-size: 1.8rem
    color: var(--color-background)
    margin-inline-start: 0.4rem