@import '../abstracts/_mixins'

.hero
  background: var(--color-background)
  color: var(--color-foreground)
  width: 100%
  max-width: 96rem
  margin: 8rem auto 0 auto
  padding: 5.6rem 2.4rem 4.8rem 5.6rem
  @include flex-centered
  flex-direction: column
  text-align: center

  &__title
    font-family: var(--app-typeface)
    font-weight: 700
    font-size: 5.2rem
    line-height: 1
    margin-block-end: 1.6rem

    @include responsiveness(720p)
      font-size: 5.5rem
    
    @include responsiveness(960p)
      font-size: 5.8rem

  &__subtitle
    width: 90%
    color: var(--color-gray-on-bg)
    font-family: var(--app-typeface)
    font-size: 1.8rem
    font-weight: 300
    line-height: 1.5

    @include responsiveness(720p)
      font-size: 2rem
      width: 100%
    
    @include responsiveness(960p)
      font-size: 2.1rem