.instructions
  width: 100%
  max-width: 96rem
  padding: 9.6rem 0
  margin: 0 auto

  &__title
    font-family: var(--typeface-headings)
    font-size: 3.2rem
    margin-block-end: 2.8rem
  
  &__text
    color: var(--color-foreground)
    display: flex
    flex-direction: column
    gap: 4rem