@use "sass:meta"

$fonts-path: '../../static/assets/fonts'

$app-typeface: 'Inter', sans-serif
$typeface-mono: monospace
$color-foreground: #080808
$color-background: #fefefe

$color-accent: #005bfd
$color-accent-tint: #e1ecff
$color-accent-blue: #005bfd
$color-accent-blue-tint: #e1ecff
$color-accent-green: #107f0b
$color-accent-green-tint: #d2fbd0
$color-accent-red: #c83d3d
$color-accent-red-tint: #fbf1f1
$color-accent-orange: #8d6b00
$color-accent-orange-tint: #fff4d1

$color-gray-on-bg: #767676
$color-borders: #e4e5e5
$app-foreground-color: #f6fefe
$app-background-color: #b95fe3

@font-face
  font-family: 'Inter'
  font-style:  normal
  font-weight: 300
  src: url('#{$fonts-path}/Inter-Light.woff2?v=3.18') format('woff2'), url('#{$fonts-path}/Inter-Light.woff?v=3.18') format('woff')

@font-face
  font-family: 'Inter'
  font-style:  normal
  font-weight: 700
  src: url('#{$fonts-path}/Inter-Bold.woff2?v=3.18') format('woff2'), url('#{$fonts-path}/Inter-Bold.woff?v=3.18') format('woff')

:root
  --app-typeface: #{meta.inspect($app-typeface)}
  --typeface-monospace: #{meta.inspect($typeface-mono)}
  --color-foreground: #{meta.inspect($color-foreground)}
  --color-background: #{meta.inspect($color-background)}
  
  --color-accent: #{meta.inspect($color-accent)}
  --color-accent-tint: #{meta.inspect($color-accent-tint)}
  --color-accent-blue: #{meta.inspect($color-accent-blue)}
  --color-accent-blue-tint: #{meta.inspect($color-accent-blue-tint)}
  --color-accent-green: #{meta.inspect($color-accent-green)}
  --color-accent-green-tint: #{meta.inspect($color-accent-green-tint)}
  --color-accent-red: #{meta.inspect($color-accent-red)}
  --color-accent-red-tint: #{meta.inspect($color-accent-red-tint)}
  --color-accent-orange: #{meta.inspect($color-accent-orange)}
  --color-accent-orange-tint: #{meta.inspect($color-accent-orange-tint)}
  
  --color-gray-on-bg: #{meta.inspect($color-gray-on-bg)}
  --color-borders: #{meta.inspect($color-borders)}
  --app-foreground-color: #{meta.inspect($app-foreground-color)}
  --app-background-color: #{meta.inspect($app-background-color)}