html
  font-size: 62.5%
  box-sizing: border-box

body
  font-size: 1.6rem
  font-weight: 300
  font-family: var(--app-typeface)
  line-height: 1.8

*,
*::before,
*::after
  box-sizing: inherit

*
  margin: 0
  padding: 0

a
  text-decoration: none

li
  list-style: none

code
  font-family: var(--typeface-mono)
